html,
body {
  background-color: #EEEEEE;
  color: #333333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 !important;
}

#logo {
  margin: 80px auto;
  text-align: center;
}

#formSearch {
  margin: 20px auto;
  text-align: center;
}

#btnSearch {
  background-color: #23545B !important;
  color: #FFFFFF !important;
}