@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.6)), url('./assets/images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

#logo {
  width: 400px;
  height: 100px;
}

.container {
  padding: 0 !important;
  text-align: center;
}

#menu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pages:hover {
  text-decoration: none !important;
}

#formSearch {
  margin: 60px auto 0px auto;
  text-align: center;
}

#btnSearch {
  background-color: #23545B !important;
  color: #FFFFFF !important;
}

#btnSearch:active,
#btnSearch:focus {
  background-color: #FFFFFF !important;
  color: #23545B !important;
  transition: 5ms;
}

#btnLogin {
  background-color: #23545B !important;
}

#btnLogin a {
  color: #FFFFFF !important;
  text-decoration: none;
}

#eventList {
  height: auto;
  display: flex;
  flex-flow: row wrap;
  margin: 80px auto;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

#banner {
  margin: 40px auto 0px auto;
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
}

#cardEvent {
  height: 200px;
  color: #333333;
  margin-bottom: 20px;
}

#eventDetails {
  margin: 40px auto 0px auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

#btnJoin {
  background-color: #23545B !important;
  color: #FFFFFF !important;
}