html,
body {
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.6)), url('./assets/images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: #333333;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 !important;
}

#menu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#formSearch {
  margin: 200px auto;
  text-align: center;
}

#btnSearch {
  background-color: #23545B !important;
  color: #FFFFFF !important;
}

#btnSearch:active,
#btnSearch:focus {
  background-color: #FFFFFF !important;
  color: #23545B !important;
  transition: 5ms;
}

#btnLogin {
  background-color: #23545B !important;
}

#btnLogin a {
  color: #FFFFFF !important;
  text-decoration: none;
}

.pages:hover {
  text-decoration: none !important;
}